programing101/debug_1.py
programing101/debug_2.py
programing101/debug_3.py
programing101/debug_4.py
programing101/debug_6.py
programing101/debug_7.py
programing101/debug_8.py
programing101/degub_5.py
.DS_Store
Debug-Practices---Clint