<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
		/>
		<title>Document</title>
	</head>
	<body>
		<nav class="navbar">
			<a href="/">HOME </a>
			<a href="/shopping">SHOPPING LIST</a>
			<a href="/events"> EVENT SCHEDULE</a>
			<a href="/watching"> BINGE WATCH LIST</a>
		</nav>
	</body>
</html>
