html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: grey;
}

section {
	margin: 1rem;
	padding: 5px;
	background: white;
}
