html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	background-color: grey;
}
.container {
	display: flex;
	width: 800px;
	flex-wrap: wrap;
}

.board {
	min-width: 100px;
	min-height: 100px;

	border: 0.5px solid;
}

.board:nth-child(2n) {
	background-color: #d18a46;
}
.board:nth-child(odd) {
	background-color: #ffce9e;
}
